:root {
  --dark-grey: #121212;
  --dark-grey-highlight: #1a1a1a;
  --white: #efefef;
  --light-grey: #a7a7a7;
  --mid-grey: #727272;
  --red: #e91429;
  --orange: #ffa42b;
}

html {
  font-family: ui-sans-serif,
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  "Helvetica Neue",
  Arial,
  "Noto Sans",
  sans-serif,
  "Apple Color Emoji",
  "Segoe UI Emoji",
  "Segoe UI Symbol",
  "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  background: var(--dark-grey);
  color: var(--white);
}

