.playButton {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 40px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  justify-content: center;
  min-width: 40px;
  position: relative;
  -webkit-transition: none 33ms cubic-bezier(.3,0,.7,1), height linear 500ms, width linear 500ms;
  transition: none 33ms cubic-bezier(.3,0,.7,1), height linear 500ms, width linear 500ms;
  -webkit-transition-property: all;
  transition-property: all;
  width: 40px;
  padding: 10px;


  &:active {
    transform: scale(.95);
  }
}